.product img{
    width:38vw;
    object-fit: cover;
    height:60vw;
   
}

.product{
    position: absolute;
    

}

.carousel-button{
    position: absolute;
    z-index: 2;
    background-color: transparent;
    font-size: 1rem;
    padding: 0;
    color:black;
}

.carousel-button:first-child {
   left:0;
}

.carousel-button:last-child {
    /* Styles for the last button */
    right:0;
}

.products-row{
    display: flex;
    width:100vw;
    
   
    /* position: absolute; */
}

.product-carousel-container{
    margin:0 auto;
    width:100vw;
    position: relative;
    height:50vh;
}