.article2-container img{
    width:80vw;
    margin: 0 auto;
}

.article2-container{
    width:100vw;
    margin: 0 auto;
    margin-top: 8rem;
}

.article-image-button-container{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.article-buttons{
    position: absolute;
    top:-10%;
}