.article2-image{
    width:90vw;
    margin: 0 auto;
    height:50vw;
    object-fit: cover;
}

.article2-container{
    width:100vw;
    margin: 0 auto;
    margin-top: 8rem;
}

.article2-intro{
    text-align: left;
    margin-left: 2rem;
}

.article-image-button-container{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.article-buttons{
    position: absolute;
    top:-25%;
    right:5%;
    display: flex;
    flex-direction: row;
}

.article2-button{
    background-color: transparent;
   

}

.article2-section{
    text-align: left;
    margin-left: 2rem;
    padding-right: 1rem;
}

.article2-section h1{
    font-size: 2rem;
}

@media screen and (min-width:500px){
    te
}