.article-herobanner{
    text-align: left;
    /* position: absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%); */
}

.article-herobanner h2{
    font-size: 2rem;
    width: max-content;
}

.article-herobanner img{
    width:90vw;
    margin: 0 auto;
    object-fit: cover;
}