.login-box{
    background-color: #00bfff;
    padding:2rem;
    width:90vw;
    margin:0 auto;
}

.login-box input{
    padding:1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 2px solid black;
 
}

.login-button{
    background-color: black;
    margin: 0 auto;
    padding: 1;
    margin-top: 1rem;
}

.login-button:hover{
    border: 2px red red;
}

.login-box input::placeholder {
    /* Style the placeholder text here */
    color: white;
    opacity: 1; /* You can adjust the opacity if needed */
    font-size: 1rem;
  }

.login-container{
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}