.login-box{
    background-color: #00bfff;
    padding:2rem;
    width:90vw;
    margin:0 auto;
}

.login-box input{
    padding:1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 2px solid black;
    color:white;
}

.login-contanier{
    width:100vw;
}