.training-form-logo{
    width:20vw;
    height:200px;
    border-radius: 50%;
    object-fit: cover;
}

.training-form-herobanner h1{
    font-size: 2.5rem;
    width:max-content
}

.training-form-container{
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
}

