.herobanner-container{
    width:100vw;
    position: relative;
    margin: 0 auto;
    
}

.herobanner-video{
    height:100vh;
    object-fit: cover;
    width:100vw;
    object-position: 60% 75%;
}

.herobanner-text{
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    /* color:black; */
    width:100vw;
    background-color: grey;
    /* background-color: red; */
}

.herobanner-text h1{
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px black;
}

.herobanner-text p{
    font-size: 1.3rem;
    text-shadow: 2px 2px 2px black;
}