.herobanner-container{
    width:100vw;
    position: relative;
    margin: 0 auto;
    
}

.herobanner-video{
    height:100vh;
    object-fit: cover;
    width:100vw;
    object-position: 0 75%;
}

.herobanner-text{
    position: absolute;
    top:30%;
    left:50%;
    transform: translateX(-50%);
    color:black;
}

.herobanner-text p{
    font-size: 1.3rem;
}