.exercise-display-container{
    margin: 0 auto;
    width:80vw;
    background: radial-gradient(circle, #00bfff, #0077b3);
padding: 1rem 0;
margin-bottom: 2rem;
border-radius: 1rem;
overflow-x: hidden;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;

}

.exercise-display-list{
    text-align: left;
}

/* .exercise-data p{
    text-align: left;
} */

.exercise-display-list li{
    list-style: none;
    /* width:50vw; */
    width:fit-content;
    padding: 0.25rem 1rem;
    border-radius: 1rem;

}

.exercise-set-details{
    text-align: left;
}

